  <form class="container-fluname">
    <h1>שלח פרטים ויצרו איתך קשר</h1>
    <div class="form-group row">
      <div class="col-7">
        <input type="text" class="form-control"
         name="Name"  placeholder="שם משתמש" minlength ="2" required>
         </div>
         <div class="col-7">
         <input type="email" class="form-control"
         name="Name"  placeholder="כתובת מייל" minlength ="2" required>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()" style="color: rgb(254, 229, 0);background-color : black; border: black; ">ליצירת קשר</button> 
    
</form>
