body{
    background-image: url("../../../assets/צילום\ מסך\ 2022-12-19\ 102748.png");
    background-size: 100%;
    font-family:'Courier New', Courier, monospace;
}
#about{
    width: 550px;
    height: 630px; 
    margin-right: 100px;
    background-color: rgba(255, 255, 255, 0.505);
}
