.nav-link{
    color: rgb(254, 229, 0);
    font-size: 30px;
    padding-left: 40px;
    padding-right: 40px;
}
.collapse{
    text-align: center;
    padding-right: 300px;
    font-weight: 600;
    font-family:'Courier New', Courier, monospace;
}
body{
    font-family:'Courier New', Courier, monospace;
    background-image: url("../assets/צילום\ מסך\ 2022-12-19\ 102748.png");
    background-size: 100%;
}
// #background{
    // height: 89.2vh;
    // background-image: url("../assets/צילום\ מסך\ 2022-12-19\ 102748.png");
// }
.gift{
    font-size: 20px;
    color: white;
    padding: 18px;
    padding-right: 200px;
}
// .html{
//     background-color: gray;
// }